<div class="contact-header">
	<img src="/images/map-placeholder.png" />
</div>


<div class="screen-content contact row">

	<h3>CONTACT US</h3>
	<div class="small-5 columns col-left">


	  <h4>OCEAN DEV OFFICE</h4>
	  <p>15812 N. Pennsylvania Ave.<br />
	  	Edmond, OK, 73013</p>

	  <h4>PHONE</h4>
	  <p>(405) 513-1700</p>

	</div>

	<div class="small-7 columns col-right">
		<form>
			<div class="row">
				<div class="large-6 columns">
					<input type="text" name="subject" placeholder="Subject" />
				</div>
				<div class="large-6 columns">
					<input type="text" name="email" placeholder="Your Email Address" />
				</div>
			</div>
			<div class="row">
				<div class="large-12 columns">
					<textarea name="message" placeholder="Message" contentEditable></textarea>
				</div>
			</div>

			<div class="dn">
        <input type="text" name="email_validate" />
      </div>

		</form>
		<button id="contact-process">Send</button>
	</div>

</div>
